In [21]:
import pandas as pd
import numpy as  np
from sklearn import linear_model
import math
from word2number import w2n

ModuleNotFoundError: No module named 'word2number'

In [22]:
df = pd.read_csv("C:\\Users\\Hp\\OneDrive\\Documents\\exercise2.csv")
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary
0         NaN                    8.0                           9   50000
1         NaN                    8.0                           6   45000
2         5.0                    6.0                           7   60000
3         2.0                   10.0                          10   65000
4         7.0                    9.0                           6   70000
5         3.0                    7.0                          10   62000
6        10.0                    NaN                           7   72000
7        11.0                    7.0                           8   80000

In [23]:
df.experience = df.experience.fillna(0)
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary
0         0.0                    8.0                           9   50000
1         0.0                    8.0                           6   45000
2         5.0                    6.0                           7   60000
3         2.0                   10.0                          10   65000
4         7.0                    9.0                           6   70000
5         3.0                    7.0                          10   62000
6        10.0                    NaN                           7   72000
7        11.0                    7.0                           8   80000

In [24]:
import math
median = df['test_score(out of 10)'].median()
median

8.0

In [25]:
df['test_score(out of 10)'].fillna(median)

0     8.0
1     8.0
2     6.0
3    10.0
4     9.0
5     7.0
6     8.0
7     7.0
Name: test_score(out of 10), dtype: float64

In [26]:
df['test_score(out of 10)'] = df['test_score(out of 10)'].fillna(median)
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary
0         0.0                    8.0                           9   50000
1         0.0                    8.0                           6   45000
2         5.0                    6.0                           7   60000
3         2.0                   10.0                          10   65000
4         7.0                    9.0                           6   70000
5         3.0                    7.0                          10   62000
6        10.0                    8.0                           7   72000
7        11.0                    7.0                           8   80000

In [28]:
reg = linear_model.LinearRegression()
reg.fit(df[['experience', 'test_score(out of 10)', 'interview_score(out of 10)']].values, df.salary )

LinearRegression()

In [30]:
reg.predict([[2,9,6]])

array([53205.96797671])

In [31]:
reg.predict([[12,10,10]])

array([92002.18340611])